---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';
import Content from '~/components/widgets/Content.astro';
import Features from '~/components/widgets/Features.astro';
import Hero from '~/components/widgets/Hero.astro';
import Steps from '~/components/widgets/Steps.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Icon from 'astro-icon';
import Contact from '~/components/widgets/Contact.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <!-- Hero Widget ******************* -->

  <Hero
    callToAction={{ text: 'Learn more', href: '#features' }}
    callToAction2={{ text: 'Get a quote!', href: '#contact' }}
  >
    <Fragment slot="title">
      <span class="text-3xl tracking-normal leading-loose">Hey There! I'm</span>
      <p class="text-accent dark:text-white highlight">Vanmarc Montero</p>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        I'm a writer specializing in<span class="font-semibold">
          IT, blockchain technology, entertainment, and news.</span
        >
        <br /> I provide freelance writing, proofreading, and editing services.
      </span>
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <!-- <Note /> -->

  <!-- Features Widget *************** -->

  <Features
    highlight="Services"
    title="What you get with Vanmarc"
    subtitle="Vanmarc offers a range of writing, proofreading, and editing services that ensures your project is putting its best foot forward."
    items={[
      [
        {
          title: 'Whitepaper Content',
          description: `Receive high-quality and well-researched content that showcases your project's expertise, and positions you as a go-to source for solutions to specific issues.`,
          icon: 'tabler:brand-tailwind',
        },
        {
          title: 'Press Release Content',
          description:
            'Receive well-crafted Press Release content tailored to appeal to journalists and media outlets.',
          icon: 'tabler:rocket',
        },
        {
          title: 'Metadata Content',
          description:
            'Receive personalized, appealing, engaging, and SEO-friendly metadata content for your websites.',
          icon: 'tabler:bulb',
        },
      ],
      [
        {
          title: 'Website Content',
          description: `Receive well-written, SEO-friendly, engaging, and well-researched website content to build your website's credibility and make it stand out online.`,
          icon: 'tabler:components',
        },
        {
          title: 'Article/Blog Content',
          description:
            'Receive well-written and thoroughly researched articles or blogs that establish your project as an authority on a particular subject.',
          icon: 'tabler:list-check',
        },
        {
          title: 'Manual Content',
          description:
            'Receive clear, easy-to-understand product or service manuals intended for internal use or for the customers/users of your project.',
          icon: 'tabler:arrows-right-left',
        },
      ],
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    highlight="Portfolio"
    title="Vanmarc's Experience"
    row={true}
    items={[
      {
        title: 'Websites',
        list: [
          { text: 'Sample 1', link: 'https://meci.io/' },
          { text: 'Sample 2', link: 'https://ladyapeclub.com/' },
          { text: 'Sample 3', link: 'https://javlchain.com/' },
          { text: 'Sample 4', link: 'https://terrancoin.com/' },
        ],
      },
      {
        title: 'Articles/Blogs',
        list: [
          {
            text: 'Sample 1',
            link: 'https://coinedition.com/dogecoin-history-cryptocurrencys-unlikely-success-story/',
          },
          {
            text: 'Sample 2',
            link: 'https://realresearcher.com/media/survey-public-opinion-on-who-would-replace-daniel-craig-as-the-new-james-bond/',
          },
        ],
      },
      {
        title: 'Press Releases',
        list: [
          {
            text: 'Sample 1',
            link: 'https://coinedition.com/supercup-of-spain-nfts-a-roaring-success-sold-out-within-1-hour/',
          },
          {
            text: 'Sample 2',
            link: 'https://coinedition.com/3d-factory-to-release-collections-after-successful-super-cup-launch/',
          },
          {
            text: 'Sample 3',
            link: 'https://coinedition.com/tnc-it-solutions-group-brings-the-asta-into-its-extensive-network/',
          },
        ],
      },
      {
        title: 'Whitepapers',
        list: [
          {
            text: 'Sample 1',
            link: 'https://javlchain.com/whitepaper.html',
          },
          {
            text: 'Sample 2',
            link: 'https://bibl-chain.com/whitepaper.pdf?ver=2.4',
          },
          {
            text: 'Sample 3',
            link: 'https://terrancoin.com/whitepaper.pdf',
          },
        ],
      },
      {
        title: 'Manual',
        list: [
          {
            text: 'Sample 1',
            link: 'https://trade.abbccoin.com/user-manual.pdf',
          },
        ],
      },
    ]}
    image={{
      src: import('~/assets/images/portfolio.jpg'),
      alt: 'Portfolio Image',
    }}
  >
    <Fragment slot="content">
      <h3 id="taste" class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        A Taste of Vanmarc's Writing
      </h3>
      Below are samples of Vanmarc's writing from different projects over the years.
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    title={`A Taste of Vanmarc's Writing`}
    subtitle={`You can gain Vanmarc's writing services with the following general rate of 0.5 fils/0.13c per word.`}
    items={[
      {
        title: 'Article/Blog Rate',
        description: '250 AED/$70 per 500 word content ',
      },
      {
        title: 'Press Release Rate',
        description: '375 AED/$105 per 500 word content ',
      },
      {
        title: 'Website Landing Page Rate ',
        description: '150 AED/$45 per page ',
      },
      {
        title: 'White Paper Rate ',
        description: '1,000 AED/$275 per 1,000 word content',
      },
      {
        title: 'Additional Rates',
        list: [
          {
            text: '30 AED for additional research',
          },
          {
            text: '2 Free Revisions with 15 AED per revision afterwards',
          },
        ],
      },
    ]}
    image={{
      src: import('~/assets/images/pricing.jpg'),
      alt: 'Pricing Image',
    }}
  />

  <!-- Steps Widget ****************** -->

  <Steps
    title="Vanmarc Has Experience in IT, Blockchain, and Pop Culture"
    items={[
      {
        title: 'Experience',
        description:
          'Vanmarc is a professional writer with 4 years of professional experience and over 10 years of total writing experience. He has strong skills in comprehension, communication, and client management.',
        icon: 'tabler:writing',
      },
      {
        title: 'Companies',
        description:
          'He has worked for companies such as CoinEdition (previously CoinQuora), Real Research, TNC IT Solutions, and BXDNow.',
        icon: 'tabler:shredder',
      },
      {
        title: 'CoinEdition',
        description:
          'At CoinEdition/CoinQuora, he is a Senior Editor, where he has written, proofread, and edited over 500 news and feature articles.',
        icon: 'tabler:news',
      },
      {
        title: 'Research',
        description: 'At Real Research, he has written over 50 blogs and surveys.',
        icon: 'tabler:file-report',
      },
      {
        title: 'Job ',
        description:
          'At TNC IT Solutions, he has handled over 10 blockchain client projects, resulting in a total of over 300 social media posts, press releases, email content, website content, and whitepaper content. ',
        icon: 'tabler:paperclip',
      },
      {
        title: 'On The Side',
        description: 'Vanmarc also published over 10 personal articles on a Dubai-based blogging platform BXDNow.',
        icon: 'tabler:notebook',
      },
    ]}
    image={{
      src: import('~/assets/images/creativity.jpg'),
      alt: 'Steps image',
    }}
  />

  <!-- HighlightedPosts Widget ******* -->

  <!-- <LatestPosts
    title="Find out more content in our Blog"
    information={`The blog is used to display AstroWind documentation.
			Each new article will be an important step that you will need to know to be an expert in creating a website using Astro + Tailwind CSS.
			Astro is a very interesting technology. Thanks.
		`}
    postIds={[
      'get-started-website-with-astro-tailwind-css.md',
      'how-to-customize-astrowind-to-your-brand.md',
      'useful-resources-to-create-websites.md',
      'astrowind-template-in-depth.md',
    ]}
  /> -->

  <!-- CallToAction Widget *********** -->

  <CallToAction
    callToAction={{
      text: 'Send a WhatsApp',
      href: 'https://wa.me/+971585660302',
      icon: 'tabler:message',
    }}
  >
    <Fragment slot="title">Reach Out</Fragment>

    <Fragment slot="subtitle">For quotes or collaborations, send an email, or a whatsapp message.</Fragment>
    <Fragment slot="subtitle">
      <ul class="my-4 text-left space-y-2" id="contact">
        <li class="flex"><Icon name={'tabler:map-pin'} class="w-5 h-5 mr-1 -ml-1.5" /> Dubai, UAE</li>
        <li class="flex">
          <Icon name={'tabler:mail'} class="w-5 h-5 mr-1 -ml-1.5" />
          <a href="mailto: writer@vanmarcmontero.com" class="hover:underline">writer@vanmarcmontero.com</a>
        </li>
        <li class="flex">
          <Icon name={'tabler:mail'} class="w-5 h-5 mr-1 -ml-1.5" />
          <a href="mailto: writer@vanmarcmontero.com" class="hover:underline">vanmarcmontero@gmail.com</a>
        </li>
        <li class="flex"><Icon name={'tabler:phone'} class="w-5 h-5 mr-1 -ml-1.5" />+971585660302</li>
      </ul>
    </Fragment>
  </CallToAction>

  <!-- <Contact /> -->
</Layout>
