---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';
import Content from '~/components/widgets/Content.astro';
import Features from '~/components/widgets/Features.astro';
import Hero from '~/components/widgets/Hero.astro';
import Steps from '~/components/widgets/Steps.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Icon from 'astro-icon';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <!-- Hero Widget ******************* -->

  <Hero
    callToAction={{ text: 'Learn more', href: '#features' }}
    callToAction2={{ text: 'Get a quote!', href: '#contact' }}
  >
    <Fragment slot="title">
      <span class="text-3xl tracking-normal leading-loose">Hey There! I'm</span>
      <p class="text-accent dark:text-white highlight">Vanmarc Montero</p>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        I'm a writer specializing in<span class="font-semibold">
          IT, blockchain technology, entertainment, and news.</span
        >
        <br /> I provide freelance writing, proofreading, and editing services.
      </span>
    </Fragment>
  </Hero>

  <!-- Steps Widget ****************** -->

  <Steps
    title="Here's Some Information About Me"
    items={[
      {
        title: 'Personal Background',
        description:
          'I am a professional writer with 4 years of professional experience and over 10 years of total writing experience. I have strong comprehension, communication, and client management skills.',
        icon: 'tabler:writing',
      },
      {
        title: 'Work Experience',
        description:
          'As a content specialist, I have worked for companies such as CoinEdition (online news platform, previously CoinQuora), Real Research (online survey platform), TNC IT Solutions (Dubai-based Korean blockchain company), and BXDNow (Dubai-based blogging group).',
        icon: 'tabler:shredder',
      },
      {
        title: 'CoinEdition',
        description:
          "At CoinEditon/CoinQuora, I've worked as senior editor. I have written, proofread, and edited over 500 news and feature articles.",
        icon: 'tabler:news',
      },
      {
        title: 'Real Research',
        description: 'At Real Research, he has written over 100 blogs and surveys.',
        icon: 'tabler:file-report',
      },
      {
        title: 'Managed Projects',
        description:
          'At TNC IT Solutions, I have handled over 10 blockchain client projects, resulting in a total of over 300 social media posts, press releases, email content, website, content and whitepaper content, among other things.',
        icon: 'tabler:paperclip',
      },
      {
        title: 'Personal Work',
        description: 'As a side project, I published over 10 personal articles on BXDNow.',
        icon: 'tabler:notebook',
      },
    ]}
    image={{
      src: import('~/assets/images/creativity.jpg'),
      alt: 'Steps image',
    }}
  />

  <!-- Note Widget ******************* -->

  <!-- <Note /> -->

  <!-- Features Widget *************** -->

  <!-- Content Widget **************** -->

  <Content
    highlight="My Samples"
    title="For Your Reference"
    row={true}
    items={[
      {
        title: 'Websites',
        list: [
          { text: 'Sample 1', link: 'https://meci.io/' },
          { text: 'Sample 2', link: 'https://ladyapeclub.com/' },
          { text: 'Sample 3', link: 'https://javlchain.com/' },
          { text: 'Sample 4', link: 'https://terrancoin.com/' },
        ],
      },
      {
        title: 'Articles/Blogs',
        list: [
          {
            text: 'Sample 1',
            link: 'https://coinedition.com/dogecoin-history-cryptocurrencys-unlikely-success-story/',
          },
          {
            text: 'Sample 2',
            link: 'https://realresearcher.com/media/survey-public-opinion-on-who-would-replace-daniel-craig-as-the-new-james-bond/',
          },
        ],
      },
      {
        title: 'Press Releases',
        list: [
          {
            text: 'Sample 1',
            link: 'https://coinedition.com/supercup-of-spain-nfts-a-roaring-success-sold-out-within-1-hour/',
          },
          {
            text: 'Sample 2',
            link: 'https://coinedition.com/3d-factory-to-release-collections-after-successful-super-cup-launch/',
          },
          {
            text: 'Sample 3',
            link: 'https://coinedition.com/tnc-it-solutions-group-brings-the-asta-into-its-extensive-network/',
          },
        ],
      },
      {
        title: 'Whitepapers',
        list: [
          {
            text: 'Sample 1',
            link: 'https://javlchain.com/whitepaper.html',
          },
          {
            text: 'Sample 2',
            link: 'https://bibl-chain.com/whitepaper.pdf?ver=2.4',
          },
          {
            text: 'Sample 3',
            link: 'https://terrancoin.com/whitepaper.pdf',
          },
        ],
      },
      {
        title: 'Manual',
        list: [
          {
            text: 'Sample 1',
            link: 'https://trade.abbccoin.com/user-manual.pdf',
          },
        ],
      },
    ]}
    image={{
      src: import('~/assets/images/portfolio.jpg'),
      alt: 'Portfolio Image',
    }}
  >
    <Fragment slot="content">
      <h3 id="taste" class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Review My Top Quality Work
      </h3>
      You can check my previous work by clicking the links below.
    </Fragment>
  </Content>

  <Features
    highlight="My Services"
    title="Receive Top Quality Writing"
    subtitle="You can ensure your project is putting its best foot forward with my writing, proofreading, and editing services."
    items={[
      [
        {
          title: 'Whitepaper Content',
          description: `I specialize in writing whitepapers for the tech industry, specifically blockchain and cryptocurrency projects.`,
          icon: 'tabler:brand-tailwind',
        },
        {
          title: 'Press Release Content',
          description:
            'I place more emphasis on objective reporting, professional statements, and business writing and less on embellishing and subjective content.',
          icon: 'tabler:rocket',
        },
        {
          title: 'Metadata Content',
          description:
            "I'm an expert in creating relevant Title Tags and Meta Descriptions to draw visitors to your website.",
          icon: 'tabler:bulb',
        },
      ],
      [
        {
          title: 'Website Content',
          description: `I write engaging website content to keep visitors on your page and interested in what you have to say.`,
          icon: 'tabler:components',
        },
        {
          title: 'Article/Blog Content',
          description:
            'I currently focus on pop culture, technology, and blockchain subjects. However, I am adaptable because I employ effective research processes.',
          icon: 'tabler:list-check',
        },
        {
          title: 'Manual Content',
          description:
            'I have written user manuals for tech and blockchain platforms. I ensure to explain every step of the process while using clear terminology.',
          icon: 'tabler:arrows-right-left',
        },
      ],
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    highlight={'My Service Rates'}
    title={`You Can Commission Me!`}
    isReversed
    isAfterContent
    subtitle={`Gain my writing services with the following general rates. Please keep in mind that rates may change depending on additional research and revisions.`}
    items={[
      {
        title: 'Article/Blog Rate',
        description: '250 AED/$70 per 500 word content ',
      },
      {
        title: 'Press Release Rate',
        description: '375 AED/$105 per 500 word content ',
      },
      {
        title: 'Website Landing Page Rate ',
        description: '150 AED/$45 per page ',
      },
      {
        title: 'White Paper Rate ',
        description: '1,000 AED/$275 per 1,000 word content',
      },
      {
        title: 'Additional Rates',
        list: [
          {
            text: '30 AED for additional research',
          },
          {
            text: '2 Free Revisions with 15 AED per revision afterwards',
          },
        ],
      },
    ]}
    image={{
      src: import('~/assets/images/pricing.jpg'),
      alt: 'Pricing Image',
    }}
  />

  <!-- HighlightedPosts Widget ******* -->

  <!-- <LatestPosts
    title="Find out more content in our Blog"
    information={`The blog is used to display AstroWind documentation.
			Each new article will be an important step that you will need to know to be an expert in creating a website using Astro + Tailwind CSS.
			Astro is a very interesting technology. Thanks.
		`}
    postIds={[
      'get-started-website-with-astro-tailwind-css.md',
      'how-to-customize-astrowind-to-your-brand.md',
      'useful-resources-to-create-websites.md',
      'astrowind-template-in-depth.md',
    ]}
  /> -->

  <!-- CallToAction Widget *********** -->

  <CallToAction
    callToAction={{
      text: 'Send a WhatsApp',
      href: 'https://wa.me/+971585660302',
      icon: 'tabler:message',
    }}
  >
    <Fragment slot="title">Reach Out To Me!</Fragment>

    <Fragment slot="subtitle">
      If you want specific quotes or collaborations, send me an email or a Whatsapp message!
    </Fragment>
    <Fragment slot="subtitle">
      <ul class="my-4 text-left space-y-2" id="contact">
        <li class="flex"><Icon name={'tabler:map-pin'} class="w-5 h-5 mr-1 -ml-1.5" /> Dubai, UAE</li>
        <!-- <li class="flex">
          <Icon name={'tabler:mail'} class="w-5 h-5 mr-1 -ml-1.5" />
          <a href="mailto: writer@vanmarcmontero.com" class="hover:underline">writer@vanmarcmontero.com</a>
        </li> -->
        <li class="flex">
          <Icon name={'tabler:mail'} class="w-5 h-5 mr-1 -ml-1.5" />
          <a href="mailto: writer@vanmarcmontero.com" class="hover:underline">vanmarcmontero@gmail.com</a>
        </li>
        <li class="flex"><Icon name={'tabler:phone'} class="w-5 h-5 mr-1 -ml-1.5" />+971585660302</li>
      </ul>
    </Fragment>
  </CallToAction>

  <!-- <Contact /> -->
</Layout>
